tele.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1856,
        384
      ],
      "id": "674a0131-e591-404f-9a65-0da234bf11c9",
      "name": "Telegram Trigger",
      "webhookId": "ddc6f1c4-bd7b-4cfd-a076-74c80016880a",
      "credentials": {
        "telegramApi": {
          "id": "fVvLsp6CMnbpsLhw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "41d3f9bb-fcb4-45de-b53e-d03d35082614"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02be06a1-617b-4943-8ff3-55ee0e3783e7",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1632,
        384
      ],
      "id": "0563d784-8c70-4733-bcd9-51d8d329b0af",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1408,
        240
      ],
      "id": "d9edc811-e78a-4b49-a96b-8a7344afb907",
      "name": "Get a file1",
      "webhookId": "6ef1f789-82b6-4ef5-99c3-1484d87ec7cf",
      "credentials": {
        "telegramApi": {
          "id": "fVvLsp6CMnbpsLhw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "voice": {
          "__rl": true,
          "mode": "list",
          "value": null
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -1120,
        240
      ],
      "id": "fef3d8f0-75ff-49d1-a4f1-2ddc61f756b8",
      "name": "Transcribe audio or video"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -832,
        352
      ],
      "id": "bb5c4001-9a65-4e1a-b2c6-98cd6c503f20",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5CINO3byp0OYM2o2",
          "name": "krish"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "my",
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -704,
        352
      ],
      "id": "f2946a31-8b13-44fe-bbbf-989cc5461417",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "voice": {
          "__rl": true,
          "mode": "list",
          "value": null
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        544,
        240
      ],
      "id": "c645705e-da2d-4b4b-89d9-8c9a9d60f6f2",
      "name": "Convert text to speech"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "title": "apex"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        240
      ],
      "id": "47fc2325-2a50-417d-9f6c-55bbe7128561",
      "name": "Send an audio file",
      "webhookId": "d236d3e0-f6d8-46dc-955e-86af0503d19a",
      "credentials": {
        "telegramApi": {
          "id": "fVvLsp6CMnbpsLhw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1408,
        528
      ],
      "id": "4bc0adef-cdbc-4a53-89a8-457ebf560a5c",
      "name": "Get a chat",
      "webhookId": "b6a0b294-bf7d-4980-b84e-451af8e55db0",
      "credentials": {
        "telegramApi": {
          "id": "fVvLsp6CMnbpsLhw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1168,
        752
      ],
      "id": "55d6cb62-04ed-4b60-a0a0-d7afd1789397",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "5CINO3byp0OYM2o2",
          "name": "krish"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "my",
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1040,
        752
      ],
      "id": "a9bb9758-0851-4540-a960-77e92ed8ae74",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        528
      ],
      "id": "39d38b75-0372-4997-8e1d-2854ed0cdcb6",
      "name": "Send a text message",
      "webhookId": "61e18385-d4f7-433e-8c34-1ba52ad947e8",
      "credentials": {
        "telegramApi": {
          "id": "fVvLsp6CMnbpsLhw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -576,
        352
      ],
      "id": "8d471d48-a9da-49ea-971b-7f0c4514607b",
      "name": "Send a message in Gmail",
      "webhookId": "cb1ce8f7-5aae-4aef-8a4f-b890bde5de6a",
      "credentials": {
        "gmailOAuth2": {
          "id": "HP64vjkg0u7auihe",
          "name": "maaahi"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "3f326bdc08733f1d66c2dd75023f98b1cf2c344ed148e2166c1eddcd006070af@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "meeting scheduler"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "color": "6",
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -448,
        352
      ],
      "id": "c693cbac-5e0b-4332-8846-bcc15f11b9d1",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YQMKKX8s0W8BkkYA",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "if user want to search location or some places run the tool then give the responce",
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.address }}"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-app"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -320,
        352
      ],
      "id": "0a76f90d-0c7e-4848-873c-ecdf28fa9c4d",
      "name": "location"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -192,
        352
      ],
      "id": "47d2fbed-0767-4343-90d9-8c4085d7c405",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Prompt:\nYou are the Voice Assistant.\n\nIf the input is audio → transcribe it first, then act.\n\nDetect intent and decide which tool to use (Email, Calendar, Location, Wikipedia, Hacker News, Calculator).\n\nConvert final answer into natural conversational style (max 20 seconds).\n\nKeep replies friendly, short, and easy to understand."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        128
      ],
      "id": "a5682f0b-dbd5-4a90-b7b1-e73738832e04",
      "name": "voice agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "You are the Text Assistant.\n\nUnderstand user’s text request and decide which tool to use:\n\nGmail → send/draft emails\n\nCalendar → schedule events\n\nLocation → give directions/nearby places\n\nWikipedia → explain facts/definitions\n\nHacker News → latest tech/startup news\n\nCalculator → math/calculations\n\nIf no tool needed, answer directly.\n\nAlways keep replies short, clear, and helpful.\n\nIf task is done (email sent, event created, etc.), confirm with ✅.\nPrompt:\nYou are the Calendar Agent.\n\nCreate or manage events in Google Calendar.\n\nConfirm: date, time, title, and reminders before creating.\n\nReply in short structured form (example: “✅ Meeting scheduled on Sep 20, 10AM”)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1184,
        528
      ],
      "id": "c4b8eb16-36fc-4d1e-b65e-059676858e2f",
      "name": "text agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -64,
        352
      ],
      "id": "50a417d6-20ee-4fc9-86b3-d2a72d110961",
      "name": "Calculator"
    },
    {
      "parameters": {
        "resource": "all",
        "limit": 5,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        80,
        352
      ],
      "id": "0e1bb356-25f6-4581-bed1-e84728ab7903",
      "name": "Get many items in Hacker News"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash-002",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash-002"
        },
        "messages": {
          "values": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Prompt', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        208,
        352
      ],
      "id": "3e497460-2392-4a6e-b9b6-94f9f09a8504",
      "name": "Message a model in Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "5CINO3byp0OYM2o2",
          "name": "krish"
        }
      }
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}",
        "language": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Language', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        336,
        352
      ],
      "id": "e9a01966-0fce-4e5d-8830-6471ed35fded",
      "name": "OpenWeatherMap1",
      "credentials": {
        "openWeatherMapApi": {
          "id": "pb7PCbmRJkG4QvSk",
          "name": "OpenWeatherMap account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Transcribe audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video": {
      "main": [
        [
          {
            "node": "voice agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "voice agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "voice agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a chat": {
      "main": [
        [
          {
            "node": "text agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "text agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "text agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "voice agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "text agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "voice agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "text agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "location": {
      "ai_tool": [
        [
          {
            "node": "voice agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "text agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "voice agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "text agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "voice agent": {
      "main": [
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "voice agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "text agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many items in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "voice agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "text agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Google Gemini": {
      "ai_tool": [
        [
          {
            "node": "text agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "voice agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap1": {
      "ai_tool": [
        [
          {
            "node": "voice agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "text agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "440153ab392519db90de0e0e9a1157d199314cea2dca15ebd54d4f2eadabcb78"
  }
}
